<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <title>Contacts Deleted</title>
</head>
<body>
    <div class="container">
        <h1>Address book cleared.  You're back to having no friends.  Loser.</h1>
        <a href="/">Return to your pathetic, empty address book.</a>
    </div>
</body>
</html>
